.linkButton {
  background: var(--accent-color);
  color: var(--text-color);
  border-radius: 10rem;
  display: inline-block;
  height: 3rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  text-decoration: none;
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.3rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.73);
  transition: filter 0.3s, transform 0.3s;
}

.linkButton:focus,
.linkButton:hover {
  filter: brightness(115%);
  transform: translate(-5px, -5px);
}
