.navbar {
  height: 4.5rem;
  background: var(--primary-color);
  color: var(--text-color-light);
  border-radius: 0 0 3rem 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
  font-family: "Poppins";
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.73);
}

.navbar a {
  color: var(--text-color-light);
  font-weight: 500;
}

.navbar a:hover span span {
  position: relative;
  animation: jump 0.4s forwards;
}

.indexLinkContainer {
  flex: 1;
}

.indexLink {
  font-size: 2.5rem;
  line-height: 3rem;
  display: block;
  width: fit-content;
  transform-origin: left;
  transition: transform 0.3s;
}

.indexLink:hover {
  transform: rotate(-15deg);
}

.navbarLink {
  font-size: 1.6rem;
  margin: 0 1.5rem;
  text-decoration: none;
}

.smallerFont {
  font-size: 1rem;
}

.linkIcon {
  display: none;
  width: 32px;
  height: 32px;
}

.currentPage {
  border-radius: 0.8rem;
  box-sizing: content-box;
  border-bottom: 5px solid var(--accent-color);
  padding: 5px 0.5rem 0;
}

@media (max-width: 1023px) {
  .navbar {
    height: 3rem;
  }

  .indexLink {
    font-size: 1.6rem;
  }

  .navbarLink {
    font-size: 1rem;
  }

  .smallerFont {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    border-radius: 0;
  }

  .linkText {
    display: none;
  }

  .linkIcon {
    display: block;
  }

  .currentPage {
    padding: 0;
  }
}

@media (max-width: 520px) {
  .navbar {
    padding: 1.5rem;
  }

  .navbarLink {
    margin: 0.75rem;
  }
}

@keyframes jump {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; text-decoration: underline; }
}